* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #66e0f3;
  justify-content: center;
}
.container {
  width: 70%;
  height: 66vh;
  position: relative;
  margin-left: 9vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #a4edde;
    color: black;
  border-radius: 8px;
  padding: 2vh 3vh;
  text-align: center;
  box-shadow: inset;
  font-size: 50px;
}
form {
  padding-left: 7px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  padding-top: 13px;
  padding-bottom: 13px;
  color: black;
  border-radius: 8px;
  font-weight: 20vh;
}
div button {
  padding-top: 10vh;
  border-radius: 5px;
  background-color: rgb(13, 70, 243);
  color: black;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;
  width: 70%;
  position: relative;
  top: 18%;
  height: 50px;
  font-size: 30px;
}
#imgBox {
  position: relative;
  border-radius: 8px;
  transition: max-height 1s;
  top: 20%
}
#imgBox img {
  width: 100%;
}
#imgBox.show-img {
  max-width: 210px;
  border: 2px solid #d1d1d1;
}
#qrText {
  height: 45px;
  font-size: 30px;
}
@media (min-width:560px) and (max-width:1280px) {
 button {
   margin-top: 21px;
  }
}
@media (min-width:360px) and (max-width:550px) {
  .container {
    margin-left: 6vh; }
  #qrText {
    width: 13rem; }
  div button {
    padding-top: 5px;
    height: 74px;
  }
  #imgBox.show-img {
    height: 120px; }
}
@media (width:280px) {
  .container {
    margin-left: 5vh;
    font-size: 40px;  }
  #qrText {
    width: 160px; }
  div button {
    padding-top: 0px;
    font-size: 21px;
  }
}

